auth:
  jwt:
    secret:
  oauth2:
    kakao:
      client-id:
      client-uri: https://kauth.kakao.com/oauth/authorize?client_id=
      redirect-uri: http://localhost:8080/api/members/oauth2/kakao/callback
      token-uri: https://kauth.kakao.com/oauth/token
      info-uri: https://kapi.kakao.com/v2/user/me
